<a href="https://colab.research.google.com/github/Adilmabbrito/Projetos/blob/main/Aprendendo_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Faça um programa que leia um ângulo qualquer e mostre na tela o valor do seno, cosseno e tangente desse ângulo;

In [ ]:
import math
ângulo = float(input('digite o ângulo que você deseja: '))
seno = math.sin(math.radians(ângulo))
print('O ângulo de {} tem o seno de {:.2f}'.format(ângulo, seno))  ## dentro das chaves colocar :.2f para 2 casas decimais após a vírgula.
cosseno = math.cos(math.radians(ângulo))
print('O ângulo de {} tem o cosseno de {:.2f}'.format(ângulo, cosseno))
tangente = math.tan(math.radians(ângulo))
print('O ângulo {} tem a tangente de {:.2f}'.format(ângulo, tangente))

digite o ângulo que você deseja: 30
O ângulo de 30.0 tem o seno de 0.50
O ângulo de 30.0 tem o cosseno de 0.87
O ângulo 30.0 tem a tangente de 0.58

Um professor quer sortear um dos seus quatro alunos para apagar o quadro. Faça um programa que ajude ele, lendo o nome deles e escrevendo o nome do escolhido.

In [ ]:
import random  ##random faz um sorteio aleatório

n1 = str(input("Primeiro aluno: "))
n2 = str(input("Segundo aluno: "))
n3 = str(input("Terceiro aluno: "))
n4 = str(input("Quarto aluno: "))

lista = [n1, n2, n3, n4]

escolhido = random.choice(lista)
print('O aluno escolhido foi {}'.format(escolhido))

Primeiro aluno: Ana
Segundo aluno: Maria
Terceiro aluno: José
Quarto aluno: Paulo
O aluno escolhido foi José

O mesmo professor do desafio anterior quer sortear a ordem de apresentação de trabalhos dos alunos. Faça um programa que leia o nome dos quatro alunos e mostre a ordem sorteada.

In [ ]:
import random

n1 = str(input('Primeiro aluno: '))
n2 = str(input('Segundo aluno: '))
n3 = str(input('Terceiro aluno: '))
n4 = str(input('Quarto aluno: '))

lista = [n1, n2, n3, n4]

random.shuffle(lista)   ##shuffle serve para embaralhar

print('A ordem de apresentação será')
print(lista)

Primeiro aluno: ana
Segundo aluno: josé
Terceiro aluno: maria
Quarto aluno: pedro
A ordem de apresentação será
['pedro', 'ana', 'maria', 'josé']

Manipulando cadeias de texto

**Fatiamento**


 len(frase)  ##mostra o tamanho da frase ( quantos caracteres)

 frase.count('o') ## mostra quantas vezes temos a letra 'o'

 frase.count('o', 0, 13)  ##mostra quantas vezes temos a letra 'o' da posição zero até a posição treze.

 frase.find('deo')  ##mostra onde começou o 'deo' na frase ( posição)

 'Curso' in frase ##vai mostrar Verdadeiro ou Falso.

** Transformação**

frase.replace('Python', 'android') ## vai substituir a palavra "python" por "android"

frase.upper() ##coloca as letras minúsculas em maiúsculas

frase.lower() ##coloca as letras maiúsculas em minúsculas

frase.capitalize() ##Joga tudo pra minúsculo e apenas a primeira letra em maiúsculo

frase.title() ##coloca apenas as primeiras letras de todas as palavras em maiúculas

frase.strip() ## remove espaços vazios no inicio e final da frase(espaços inúteis)

frase.rstrip() ##remove apenas os espaços vazios da direita.

frase.lstrip() ## remove epenas os espaços vazios da esquerda.

### **Praticando:**

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[3])

s

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[3:13])

so em víde

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[:13])

Curso em víde

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[13:])

o Python

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[1:15:2])  ## do 1 ao 15 pulando de 2 em 2

us mvdo

In [ ]:
frase = 'Curso em vídeo Python'
print(frase.count('o'))  ##conta quantas vezes tem a letra 'o'

3

In [ ]:
frase = 'Curso em vídeo Python'
print(len(frase))  ##conta quantos caracteres

21

In [ ]:
frase = 'Curso em vídeo Python'
print(frase.replace('Python','android'))  ##troca as palavras

Curso em vídeo android

In [ ]:
frase = 'Curso em vídeo Python'
print('Curso' in frase)

True

In [ ]:
frase = 'Curso em vídeo Python'
print(frase.split())   ##divide a frase e forma uma lista

['Curso', 'em', 'vídeo', 'Python']

In [ ]:
frase = 'Curso em vídeo Python'
dividido = frase.split()
print(dividido[2][3])   ## divide a frase, pega o segundo elemento e mostra a posição 3

e

Desafios:

1- Crie um programa que leia o nome completo de uma pessoa e mostre:

-> O nome com todas as letras maiúsculas

-> O nome com todas as letras minúsculas

-> Quantas letras ao todo ( sem considerar espaços)

-> Quantas letras tem o primeiro nome

In [ ]:
nome = str(input('Qual o seu nome? '))
print('Analisando seu nome...')
print('Seu nome em maiúsculas é {}'.format(nome.upper()))
print('Seu nome em minúsculas é {}'.format(nome.lower()))
print('Seu nome tem ao todo {} letras'.format(len(nome) - nome.count(' ')))

separa = nome.split()
print('Seu primeiro nome é {} e ele tem {} letras'.format(separa[0], len(separa[0])))

Qual o seu nome? adilma brito
Analisando seu nome...
Seu nome em maiúsculas é ADILMA BRITO
Seu nome em minúsculas é adilma brito
Seu nome tem ao todo 11 letras
Seu primeiro nome é adilma e ele tem 6 letras

Faça um programa que leia um número de 0 a  9999 e nostre na tela cada um dos dígitos separados

In [ ]:
num = int(input("Digite um número: "))
u = num // 1 % 10
d = num // 10 % 10
c = num //100 % 10
m = num // 1000 % 10
print('Analisando o número {}'.format(num))
print('Unidade: {}'.format(u))
print('Dezena: {}'.format(d))
print('Centena: {}'.format(c))
print('Milhar: {}'.format(m))

Digite um número: 1254
Analisando o número 1254
Unidade: 4
Dezena: 5
Centena: 2
Milhar: 1

Crie um programa que leia o nome de uma cidade e diga se ela começa ou não com o nome "SANTO"

In [ ]:
cid = str(input( 'Em que cidade você nasceu? ')).strip()         #elimina os espaços
print(cid [:5].upper() == 'SANTO')                               #deixa tudo maiúscula

Em que cidade você nasceu? santo anjo
True

Crie um programa que leia o nome e verifique se há a palavra "SILVA".

In [ ]:
nome = str(input('Qual é o seu nome? ')).strip()
print('Seu nome tem Silva {}'.format('SILVA' in nome.upper()))

Qual é o seu nome? maria josé silva
Seu nome tem Silva True

Faça um programa que leia uma frase pelo teclado e mostre:
1- Quantas vezes aparece a letra 'A'
2- Em que posição ela aparece a primeira vez
3- Em que posição ela aparece a última vez

In [ ]:
frase = str(input('Digite uma frase: ')).upper().strip()   #upper deixa tudo maiúscula e strip retira os espaços
print('A letra A aparece {} vezes na frase.'.format(frase.count('A')))   # +1 para aparecer a posição que lemos e não a do python
print('A primeira letra A apareceu na posição {}'.format(frase.find('A')+1))  #find = inicio
print('A última letra A apareceu na posição {}'.format(frase.rfind('A')+1))  #rfind conta a primeira da direita para a esquerda

Digite uma frase: Arara Azul
A letra A aparece 4 vezes na frase.
A primeira letra A apareceu na posição 1
A última letra A apareceu na posição 7

Faça um programa que leia o nome completo de uma pessoa, mostrando em seguida o primeiro e o último nome separadamente.

In [ ]:
n = str(input('Qual o seu nome completo? ')).upper().strip()
nome = n.split()  #fatiar o nome pelos espaços e criar uma lista
print('Prazer em te conhecer')
print('Seu primeiro nome é {}'.format(nome[0]))
print('Seu último nome é {}'.format(nome[len(nome)-1]))

Qual o seu nome completo? adilma barbosa da silva brito
Prazer em te conhecer
Seu primeiro nome é ADILMA
Seu último nome é BRITO

Escreva um programa que faça o computador "pensar" en um número inteiro entre 0 e 5 e peça para o usuário tentar descobrir qual foi o número escolhido pelo computador. O programa deverá escrever na tela se o usuário venceu ou perdeu.

In [ ]:
from  random import randint
from time import sleep
computador = randint(0,5)   #faz o computador pensar
print('-=-'*20)
print('Vou pensar em um número entre  0 e 5. Tente advinhar...')
jogador = int(input('Em que número eu pensei? ')) #jogador tenta advinhar
print('processando...')
sleep(3)
if jogador == computador:
  print("parabéns, você venceu!")
else:
  print('GANHEI! Eu pensei no número {} e não no número {}'.format(computador, jogador))

-=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=-
Vou pensar em um número entre  0 e 5. Tente advinhar...
Em que número eu pensei? 5
processando...
GANHEI! Eu pensei no número 2 e não no número 5

Escreva um programa que leia a velocidade de um carro. Se ele ultrapassar 80km/h, mostre uma mensagem dizendo que ele foi multado. A multa vai custar R$7,00 por cada km acima do limite

In [ ]:
velocidade = float(input( 'Qual é a velocidade atual do carro? '))
if velocidade >80:
  print( 'Multado! Você excedeu a velocidade permitida que é de 80km/h')
  multa = (velocidade-80)*7
  print('Você deve pagar uma multa de R${:.2f}'.format(multa))
print('Tenha um bom dia! Dirija com segurança!')

Qual é a velocidade atual do carro? 100
Multado! Você excedeu a velocidade permitida que é de 80km/h
Você deve pagar uma multa de R$140.00
Tenha um bom dia! Dirija com segurança!

Crie um programa que leia um número inteiro e mostre na tela se ele é par ou ímpar

In [ ]:
Numero = int(input('Digite um número: '))
resultado = Numero % 2
if resultado == 0 :
  print('O número {} é par'.format(Numero))
else:
  print('O número {} é ímpar.'.format(Numero))

Digite um número: 254
O número 254 é par

Desenvolva um programa que pergunte a distância de uma viagem em km. calcule o preço da passagem, cobrando R$0,50 por km para viagens de até 200km e R$0,45 para viagens mais longas.

In [ ]:
Distancia = float(input('Qual a distância da viagem em km? '))
resultado = (Distancia) * 1/2
resultado2 = (Distancia) * 9/20
if Distancia <= 200:
  print('Você pagará R${:.2f} pela passagem'.format(resultado))
else:
  print('Você pagará R${:.2f} pela passagem'.format(resultado2))

Qual a distância da viagem em km? 500
Você pagará R$225.00 pela passagem

Faça um programa que leia três números e mostre qual é o menor e qual é o maior.

In [ ]:
a = int(input('Digite um número: '))
b = int(input('Digite o segundo número: '))
c = int(input('Digite o terceiro número: '))
if a > b and a > c:
  print('O maior número digitado é {}.'.format(a))
if b > a and b > c:
  print('O maior número digitado é {}'.format(b))
if c > a and c > b:
  print('O maior número digitado é {}'.format(c))
if a < b and a < c:
  print(' O menor número digitado é {}'.format(a))
if b < a and b < c:
  print('O menor número digitado é {}'.format(b))
if c < a and c <b:
  print('O menor número digitado é {}'.format(c))

Digite um número: 5
Digite o segundo número: 6
Digite o terceiro número: 7
O maior número digitado é 7
 O menor número digitado é 5

Escreva um programa que pergunte o salário de m funcionário e calcule o valor do seu aumento.
Para salários superiores a R$1.250,00 calcule um aumento de 10%. Para os inferiores ou iguais, o aumento é de 15%

In [ ]:
salario = float(input('Digite seu salário: '))
aumento1 = salario + (10/100*salario)
aumento2 = salario + (15/100*salario)
if salario > 1250:
  print('Seu salário com aumento é R${:.2f}'.format(aumento1))
else:
  print('Seu salário com aumento é R${:.2f}'.format(aumento2))

Digite seu salário: 900
Seu salário com aumento é R$1035.00

Desenvolva um programa que leia o comprimento de três retas e diga ai usuário se elas podem ou não formar um triângulo.

In [ ]:
print('-='*20)
print('Analisador de triângulo')
print('-='*20)

r1 = float(input('Digite o primeiro segmento: '))
r2 = float(input('Digite o segundo segmento: '))
r3 = float(input('Digite o terceiro segmento: '))

if r1 < r2 + r3 and r2< r1 + r3 and r3< r1 + r2:
  print('Os segmentos podem formar um triângulo!')
else:
  print('Os segmentos não podem formar um triângulo!')

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Analisador de triângulo
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Digite o primeiro segmento: 2
Digite o segundo segmento: 3
Digite o terceiro segmento: 5
Os segmentos não podem formar um triângulo!

Escreva um programa para aprovar o empréstimo bancário para a compra de uma casa. Pergunte o valor da casa, o salário do comprador e em quantos anos ele vai pagar. A prestação mensao não poderá exceder 30% do salário ou então o empréstimo será negado..

In [ ]:
valor = float(input('Qual o valor da casa R$? '))
salario = float(input('Qual o seu salário R$? '))
tempo = int(input('Em quantos anos pretende pagar? '))

n_parcelas = tempo*12
prestacao = (valor)/(n_parcelas)


if prestacao >(30/100*salario):
  print('Empréstimo negado!')
else:
  print('Parabéns pela compra da casa nova, sua parcela ficará de R${:.2f}'. format(prestacao))

Qual o valor da casa R$? 80000
Qual o seu salário R$? 10000
Em quantos anos pretende pagar? 10
Parabéns pela compra da casa nova, sua parcela ficará de R$666.67

Fala um programa que leia o ano de nascimento de um jovem e informa de acordo com sua idade, se ele ainda vai se alistar ao serviço militar, se é a hora de se alistar ou se já passou o tenpo do alistamento. Seu programa também deverá mostrar o tempo que falta ou que passou do prazo.

In [ ]:
ano_de_nascimento = int(input('Digite o ano do seu nascimento: '))
faltam = (ano_de_nascimento - 2005)
passaram = (2005 - ano_de_nascimento)

if ano_de_nascimento > 2005:
  print('Ainda não chegou a hora de se alistar! Faltam {} anos.'.format(faltam))
elif ano_de_nascimento == 2005:
  print('Está na época de alistar!')
else:
  print('Já passou {} anos da hora de se alistar!'. format(passaram))

Digite o ano do seu nascimento: 2000
Já passou 5 anos da hora de se alistar!

Elabore um programa que calcule o valor a ser pago por um produto, considerando o seu preço normal e condição de pagamento:
- à vista dinheiro/cheque: 10% de desconto
- à vista no cartão: 5% de desconto
- em até 2x no cartão: preço normal
- 3 vezes ou mais: 20% de juros

In [ ]:

print('{:^40}'.format('LOJAS ABC'))
valor = float(input('Qual o valor do produto R$: '))
print('''As formas de pagamento são
[1] À vista dinheiro ou cheque
[2] À vista no cartão
[3] Até 2x no cartão
[4] 3x ou mais no cartão''')
forma_de_pagamento = int(input('qual será a forma de pagamento?'))

if forma_de_pagamento == 1:
  print('O valor total da compra à vista dinheiro ou cartão é {}'.format(valor - 10/100*valor))
elif forma_de_pagamento == 2:
  print( ' O valor total da compra à vista no cartão é {}'.format(valor - 10/100*valor))
elif forma_de_pagamento == 3:
  print('O valor total da compra em até 2x no cartão é {}'.format(valor))
else:
  print('O valor total da compra em 3x ou mais no cartão é{}'.format(valor + 20/100*valor))

               LOJAS ABC
Qual o valor do produto R$: 500
As formas de pagamento são
[1] À vista dinheiro ou cheque
[2] À vista no cartão
[3] Até 2x no cartão
[4] 3x ou mais no cartão
qual será a forma de pagamento?3
O valor da compra em até 2x no cartão é 500.0

Crie um programa que faça o computador jogar Jokenpô com você.

In [ ]:
from random import randint
itens = ('pedra', 'papel', 'tesoura')
computador = randint(0,2)
print('''Suas opções:
[0] pedra
[1] papel
[2]tesoura''')
jogador = int(input('qual sua jogada?'))
print('-='*11)
print('computador jogou {}'.format(itens[computador]))
print('jogador jogou {}'.format(itens[jogador]))
print('-='*11)

if computador == 0:
  if jogador == 0:
    print('empate')

  elif jogador == 1:
    print('jogador vence')

  elif jogador ==2:
    print('computador vence')

  else:
    print('jogada inválida')


elif computador == 1:
  if jogador == 0:
    print('computador vence')

  elif jogador == 1:
    print('empate')

  elif jogador ==2:
    print('jogador vence')

  else:
    print('jogada inválida')

elif computador == 2:

  if jogador == 0:
    print('jogador vence')

  elif jogador == 1:
    print('computador vence')

  elif jogador ==2:
    print('empate')

  else:
    print('jogada inválida')

Suas opções:
[0] pedra
[1] papel
[2]tesoura
qual sua jogada?2
-=-=-=-=-=-=-=-=-=-=-=
computador jogou tesoura
jogador jogou tesoura
-=-=-=-=-=-=-=-=-=-=-=
empate

**LAÇOS DE REPETIÇÃO**

In [ ]:
print('oi')
print('oi')
print('oi')
print('oi')
print('oi')

oi
oi
oi
oi
oi

In [ ]:
for c in range(1,6):
  print('oi')
print('fim')

oi
oi
oi
oi
oi
fim

In [ ]:
for c in range(6, 0, -1):  #conta no sentido contrário
    print(c)
print('fim')

6
5
4
3
2
1
fim

In [ ]:
i = int(input('Início: '))
f = int(input('fim: '))
p = int(input('passo: '))
for c in range ( i, f+1, p):  # do inicio, de 3 em 3 ate o fim.
  print(c)
print('fim!')

Início: 2
fim: 12
passo: 3
2
5
8
11
fim!

**Exercícios**

Faça um programa que mostre na tela uma contagem regressiva para o estouro de fogos de artifício, indo de 10 até 0, com uma pausa de 1 segundo entre eles.

In [ ]:
from time import sleep
for cont in range(10,-1,-1):
  print(cont)
  sleep(0.5)
print('Bum! Bum! Poooww!')

10
9
8
7
6
5
4
3
2
1
0
Bum! Bum! Poooww!

Crie um programa que mostre na tela todo os números pares que estão no intervalo entre 1 e 50

In [ ]:
for i in range (1,51):

  if i %2==0:
   print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Faça um programa que calcule a soma entre todos os números ímpares que são múltiplos de três e que se encontram no intervalo de 1 até 500.

In [ ]:
soma = 0
cont = 0
for i in range (1,501,2):
  if i % 3==0:
    soma = soma + i
    cont = cont +1
print(" A soma de todos os valores solicitados é {}". format(soma))

 A soma de todos os valores solicitados é 20667

Desenvolva um programa que leia seis números inteiros e mostre a soma apenas daqueles que forem pares. Se o valor digitado for ímpar, desconsidere-o.

Desenvolva um programa que leia o prmeiro termo e a razão de uma PA. No final, mostre os 10 priimeiros termos dessa progressão.

Faça um programa que leia um número inteiro e diga se ele é ou não um número primo.

In [ ]:
numero = int(input('digite um número'))

if numero %2 != 0 and numero % 3!= 0:
  print('O número digitado é primo.')
else:
  print( 'O número digitado não é primo.')

digite um número27
O número digitado não é primo.

Faça um programa que leia uma frase qualquer e diga se ela é um palíndromo, desconsiderando os espaços.

Crie um programa que leia o ano de nascimento de sete pessoas. NO final, mostre quantas pessoas ainda não atingiram a maior idade e quantas já são maiores.

In [ ]:
idade1 = int(input('Qual o ano de nascimento de A? '))
idade2 = int(input('Qual o ano de nascimento de B? '))
idade3 = int(input('Qual o ano de nascimento de C? '))
idade4 = int(input('Qual o ano de nascimento de D? '))
idade5 = int(input('Qual o ano de nascimento de E? '))
idade6 = int(input('Qual o ano de nascimento de F? '))
idade7 = int(input('Qual o ano de nascimento de G? '))

if idade1 <= 2005:
  print('A é maior idade.')
else:
  print('A não atingiu a maior idade.')

if idade2 <= 2005:
  print('B é maior idade.')
else:
  print('B não atingiu a maior idade.')

if idade3 <= 2005:
  print('C é maior idade.')
else:
  print('C não atingiu a maior idade.')


if idade4 <= 2005:
  print('D é maior idade.')
else:
  print('D não atingiu a maior idade.')

if idade5 <= 2005:
  print('E é maior idade.')
else:
  print('E não atingiu a maior idade.')


if idade6 <= 2005:
  print('F é maior idade.')
else:
  print('F não atingiu a maior idade.')

if idade7 <= 2005:
  print('G é maior idade.')
else:
  print('G não atingiu a maior idade.')

In [ ]:
list[idade1, idade2, idade3, idade4, idade5, idade6, idade7]

list[2000, 2016, 1986, 2002, 1998, 2008, 2003]

Faça um programa que leia  o peso de cinco pessoas. No final, mostre qual foi o maior e o menor peso lidos.

Desenvolva um programa que leia o nome, idade e sexo de 4 pessoas. No final do programa, mostre:
1- A média de idade do grupo
2- Qual é o nome do homem mais velho
3- Quantas mulheres têm menos de 20 anos.

In [ ]:
25
nome1 = str(input('Digite o nome da primeira pessoa: '))
idade1 = int(input('Digite a idade da primeira pessoa: '))
sexo1 = str(input('Digite o sexo da primeira pessoa (M/F): '))
nome2 = str(input('Digite o nome da segunda pessoa: '))
idade2 = int(input('Digite a idade da segunda pessoa: '))
sexo2 = str(input('Digite o sexo da segunda pessoa (M/F): '))
nome3 = str(input('Digite o nome da terceira pessoa: '))
idade3 = int(input('Digite a idade da terceira pessoa: '))
sexo3 = str(input('Digite o sexo da terceira pessoa (M/F): '))
nome4 = str(input('Digite o nome da quarta pessoa: '))
idade4 = int(input('Digite a idade da quarta pessoa: '))
sexo4 = str(input('Digite o sexo da quarta pessoa (M/F): '))

media = (idade1 + idade2 + idade3 + idade4)/4
print('A média do grupo é {}'.format(media))

if idade1 > idade2 and idade1 > idade3 and idade1 > idade4:
  print('{} é o mais velho d o grupo!!'.format(nome1))

if idade2 > idade1 and idade2 > idade3 and idade2 > idade4:
  print('{} é o mais velho d o grupo!!'.format(nome2))

if idade3 > idade1 and idade3 > idade2 and idade3 > idade4:
  print('{} é o mais velho d o grupo!!'.format(nome3))

if idade4 > idade1 and idade4 > idade3 and idade4 > idade2:
  print('{} é o mais velho d o grupo!!'.format(nome4))



idade = [idade1, idade2, idade3, idade4]
idade

sexo = [sexo1, sexo2 , sexo3, sexo4]



print(' {} mulheres têm diades menores que 20' .format(idade_menor))

In [ ]:
idade = [idade1, idade2, idade3, idade4]
idade

In [7]:
# Inicializa as variáveis
soma_idade = 0
homem_mais_velho = ''
idade_homem_mais_velho = 0
mulheres_menos_20 = 0

# Loop para ler os dados das 4 pessoas
for i in range(1, 5):
    print(f'----- {i}ª PESSOA -----')
    nome = input('Nome: ')
    idade = int(input('Idade: '))
    sexo = input('Sexo (M/F): ')

    # Calcula a média de idade
    soma_idade += idade

    # Verifica se é o homem mais velho
    if sexo.upper() == 'M' and idade > idade_homem_mais_velho:
        homem_mais_velho = nome
        idade_homem_mais_velho = idade

    # Conta as mulheres com menos de 20 anos
    if sexo.upper() == 'F' and idade < 20:
        mulheres_menos_20 += 1

# Calcula a média de idade
media_idade = soma_idade / 4

# Imprime os resultados
print(f'\nA média de idade do grupo é: {media_idade:.1f} anos')
print(f'O nome do homem mais velho é: {homem_mais_velho}')
print(f'{mulheres_menos_20} mulher(es) tem menos de 20 anos')

----- 1ª PESSOA -----
Nome: maria
Idade: 25
Sexo (M/F): F
----- 2ª PESSOA -----
Nome: ana[
Idade: 14
Sexo (M/F): F
----- 3ª PESSOA -----
Nome: jose
Idade: 56
Sexo (M/F): M
----- 4ª PESSOA -----
Nome: pedro
Idade: 36
Sexo (M/F): M

A média de idade do grupo é: 32.8 anos
O nome do homem mais velho é: jose
1 mulher(es) tem menos de 20 anos

Faça uma tabuada utilizando  o laço for

In [21]:
num = int(input("Digite um número para ver a tabuada: "))
for x in range(1,11):
  print('{} x {:2} = {}'.format(num, x, num*x))

Digite um número para ver a tabuada: 5
5 x  1 = 5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45
5 x 10 = 50